.sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: #343a40;
    transition: width 0.3s ease-in-out;
}

.sidebar-menu.active {
    width: 20%; 
}