.desktop-area {
  background-color: #f0f5fc;
  width: 100%;
  height: auto;
}

.left-column,
.right-column {
  background-color: #ffffff;

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form {
}

.appointments {
}

.appointments ul {
  list-style: none;
  padding: 0;
}
.appointments li {
  padding: 5px;
  border-bottom: 1px solid #d0d7e2;
}

.list-group-item {
  display: flex;
  border-top: 1px solid #ccc;
}

.list-group-item > .col-md-6 {
  padding: 0 10px;
}

.list-group-item > .col-md-6:first-child {
  border-right: 1px solid #ccc;
}

.list-group-item:last-child {
  border-bottom: 1px solid #ccc;
}
